<header class="mb-6">
  <h1 class="mb-6 text-4xl">
    <div>Hello,</div>
    <div>I'm Smi1euD.</div>
  </h1>
  <div class="leading-loose">
    <span class="block">novice programmer of Front-end</span>
    <span>&</span>
    <span class="block">Valorant enthusiasts</span>
  </div>
</header>
