<header class="mb-6">
  <h1 class="mb-6 text-4xl">
    <div>Hello,</div>
    <div>I'm Smi1euD.</div>
  </h1>
  <div class="leading-loose">
    <span class="block text-3.5"
      >I'm a front-end developer who loves to share and communicate. This blog is where I record my learning and work experience, as well as a platform for me to share my insights on front-end
      technology with everyone.
    </span>
  </div>
</header>
